python-dotenv
streamlit
sentence-transformers

langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-unstructured
langchain-chroma
langchain-groq

unstructured
unstructured[pdf]
